<div class="container">
  <img src="https://www.simpragma.com/images/sim-wings-logo.png" class="img-align">
  <h5 class="text-center"> Airport Updates </h5>
  <div class="counter">Next Refresh Time : &nbsp;<span id="time" class="text-default fa-alph" style="font-family: 'Orbitron', sans-serif;">00:00</span></div>
  <div class="row">
    <div class="col-md-6 ">
    <app-metro-city-bangalore></app-metro-city-bangalore>
    </div>
    <div class="col-md-6 ">
      <app-metro-city-delhi></app-metro-city-delhi>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 ">
      <app-metro-city-mumbai></app-metro-city-mumbai>
    </div>
    <div class="col-md-6 ">
      <app-metro-city-kolkata></app-metro-city-kolkata>
    </div>
  </div>
</div>